

.title{
    text-align: center;
    /* color: #212EA0; */
    font-size: 70px;
    text-transform: uppercase;
    background-color: rgba(102, 175, 194, 0.1);
    /* margin: 70px 0 30px; */
    /* background-color: rgba(68, 147, 150, 0.3); */
    /* border: 2px solid #000; */
}

.title h1{
    color: #000000;
    /* margin-top: 5px; */
    text-transform: none;
    font-weight: 300;
}