.about{
    margin:70px auto;
    display: flex;
 
    /* justify-content: space-between; */
    width: 70%;
    /* background-color: rgba(60, 178, 194, 0.6); */
}

.about-left{
    flex-basis: 40%;
}

.about-right{
    flex-basis: 56%;
}

.about-img{
    width: 86%;
    height: 100%;
    border-radius: 10px;
}


.about h2{
    color: white;;
    color: black;
    font-size: 35px;
    margin: 10px 0;
    max-width: 400px;
    font-weight: 300;
}

.about h3{
    color: white;
    color: black;
    margin-bottom: 15px;
    font-weight: 300;
}

