.about {
    margin: 70px auto;
    display: flex;
    width: 70%;
    flex-wrap: wrap; /* Allows children to wrap on smaller screens */
}

.about-left {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right {
    flex-basis: 56%;
    padding-left: 2%; /* Adding some padding to prevent overlap */
}

.about-img {
    width: 86%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

.about h2 {
    color: black;
    font-size: 35px;
    margin: 10px 0;
    max-width: 400px;
    font-weight: 500;
}

.about h3 {
    color: black;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 20px;
}

.learnMoreBtn {
    background: var(--primaryColor);
    color: white;
    margin: 15px 0px;
    padding: 16px 25px;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.learnMoreBtn:hover {
    background-color: #2a6674;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .about {
        flex-direction: column; /* Stack elements vertically */
        width: 90%; /* Adjust width for smaller screens */
    }

    .about-left, .about-right {
        flex-basis: 100%; /* Take full width */
        text-align: center; /* Center text for better readability */
    }

    .about-img {
        width: 100%; /* Adjust image size */
        height: 40vh;
        margin: 0 auto; /* Center image */
    }

    .about-right {
        padding: 0 5%; /* Add padding on smaller screens */
        text-align: left;
    }

    .about h2 {
        font-size: 28px; /* Adjust font size */
    }

    .about h3 {
        font-size: 18px; /* Adjust font size */
    }

    .learnMoreBtn {
        padding: 12px 20px; /* Adjust button size */
        font-size: 16px; /* Adjust font size */
    }
}

@media (max-width: 480px) {
    .about h2 {
        font-size: 24px; /* Further reduce font size */
    }

    .about h3 {
        font-size: 16px; /* Further reduce font size */
    }
}
