*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /* background-color: red; */
    color: black;
}

.cardContainer {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0px 20px; 
   
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(102, 175, 194, 0.1);;
}

.cardContainer h1{
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 40px;
}


.cards {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}


.card{
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(3333.33% - 20px);
    width: 100%;
    /* background: rgb(255, 255, 255); */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid transparent;
    border-bottom: 2px solid #08052b;
   /* word-wrap: break-word;  Ensures that long words will break and wrap onto the next line if they exceed the width of their container.s */
    word-break: break-word; /* Similar to word-wrap, this property forces long words to break and wrap to the next line. */
    /* overflow-wrap: break-word; This property is a more modern approach to handle word wrapping. It ensures that words will break if necessary to prevent overflow. */
}

.card h2 {
    /* margin-bottom: 20px; */
    white-space: pre-wrap; /* This property allows the text to wrap normally. It also respects any line breaks in the source text (although this is not crucial for this specific case) */
}

.card span {
    text-align: left;
    white-space: pre-wrap; /* This property allows the text to wrap normally. It also respects any line breaks in the source text (although this is not crucial for this specific case) */
}

/* .card:hover{
    border-color: #08052b;
} */

.card-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card-image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.read-more {
    display: flex;
    justify-content: flex-start; /* Align items to the end of the container */
    margin-top: 20px; /* Adjust this value to set the fixed gap */
}

.read-more a {
    color: rgb(177, 34, 9); /* Customize link color */
    text-decoration: none; /* Remove default underline */
    font-weight: bold; /* Make text bold */
    transition: color 0.3s ease;
    /* Add any additional styling as needed */
}

.read-more a:hover {
    /* text-decoration: underline;  */
    color: rgb(47, 142, 231);
    /* Add any additional hover styling as needed */
}



@media(max-width: 969px){
    section{
        padding: 20px 0px;
    }
    h1{
        font-size: 30px;
        line-height: 40px;
    }

    .card{
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}


@media(max-width: 600px){

    .card{
        flex: 0 0 100%;
        max-width: 100%;
    }
}