nav {
  width: 100%;
  background: #ffffff;
  color: #000000;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding-left: 8%;
  padding-right: 8%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 14vh;
}

.menu-toggle {
  display: none; /* Hidden by default */
  padding: 10px 15px;
  background-color: #48a3b7;
  color: white;
  border: none;
  cursor: pointer;
}

/* Adjust the menu for small screens */
nav ul {
  display: flex;
  list-style: none;
  transition: max-height 0.3s ease; /* Smooth height transition */
 
  
}

nav ul.active {
  display: flex; /* Show when active */
  flex-direction: column; /* Stack items vertically */
  padding-left: 10%; 
}

nav ul li {
  position: relative;
  margin: 0 20px;
  font-size: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.5s ease;
}

nav ul li:hover::after {
  width: 100%;
  background-color: #48a3b7;
}

.btn:hover {
  background-color: #2a6674;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show toggle button on small screens */
  }

  nav ul {
    display: none; /* Hide menu by default */
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Full width */
  }

  nav ul {
    position: absolute; /* Position it absolutely */
    top: 100%; /* Position it below the nav */
    left: 0;
    right: 0;
    background: #ffffff;
  }

  nav ul li {
    margin: 10px 0; /* Vertical spacing between items */
    font-size: 18px; /* Slightly smaller font size */
  }

  .logo {
    width: 12vh; /* Adjust logo size */
  }

  nav ul li:hover::after {
    display: none;
  }
}

@media (max-width: 480px) {
  nav ul {
    position: absolute; /* Position it absolutely */
    top: 100%; /* Position it below the nav */
    left: 0;
    right: 0;
    background: #ffffff;
  }

  nav ul li {
    font-size: 16px; /* Further reduce font size */
  }

  .logo {
    width: 10vh; /* Further adjust logo size */
  }

  .btn {
    padding: 10px 15px; /* Adjust button padding */
  }
  
  nav ul li:hover::after {
    display: none;
  }
}
