nav{
    width: 100%;
    background: #ffffff;
    color:#000000;
    padding: 4px 0;
    position: fixed; /*when scrolling web page*/
    top: 0; /*fixed at top 0*/
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    padding-left: 8%;
    padding-right: 8%;
}


.logo{
    width:14vh
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
    transition: color 0.3s ease;
}

li:hover {
    color: #48a3b7; /* Change to your desired hover color */
  }


 

  .btn:hover {
    background-color: #2a6674;
    border-color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }