nav{
    width: 100%;
    background: #ffffff;
    color:#000000;
    padding: 4px 0;
    position: fixed; /*when scrolling web page*/
    top: 0; /*fixed at top 0*/
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}


.logo{
    width: 180px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
    transition: color 0.3s ease;
}

li:hover {
    color: #48a3b7; /* Change to your desired hover color */
  }


  .btn:hover {
    background-color: #144853; /* Change to your desired hover background color */
  }