/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --primaryColor: rgb(44, 169, 185);
  --secondaryColor: #b1b1b1;
  --tertiaryColor: #6b6b6b;
  --textColor: #333;
  --backgroundColor: #f8f9fa;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Outfit", sans-serif; */
  font-family: 'DM Sans', sans-serif;
}

/* body{
  background: #F5F5F5;
} */


a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}


/* .container{
  padding-left: 8%;
  padding-right: 8%;
  background-color: white;
} */


.btn{
  /* background: #bfbfbf;
  color: #000000; */
  /* background: #1d1d1d; */
  background: var(--primaryColor);
  /* background: #48a3b7; */
  color: white;
  padding: 14px 25px;
  font-size: 16px;
  /* border-radius: 30px; */
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

