.med-about-container {
    /* font-family: Arial, sans-serif; */
    /* margin-top: 80px; */
}

/* .med-hero-image {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
} */

.med-hero-image {
    /* background-color: #18191b;  */
    /* background-color: #e6e5e5; */
    height: 300px;
    padding-top: 5%;
    /* padding-bottom: -1px; */
    /* padding: 0px 0px 0px; */
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000; 
    position: relative;
    background-color: rgba(39, 187, 187, 0.1);
}
.med-hero-image h1 {
    font-size: 65px;
    text-align: center; 
    padding: 0px 30px; 
    /* text-decoration: underline;
    text-decoration-color: var(--primaryColor); */
}

/* .med-hero-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
} */



.med-row {
    display: flex;
    padding: 5px;
    max-width: 45%;
    margin: 0px auto;
}

.med-two-columns {
    justify-content: space-between; /* Adjust to ensure equal spacing */
}

.med-one-column {
    justify-content: center;
}

.med-column {
    flex: 1; /* Make columns equal width */
    margin: 0 10px; /* Adjust margins */
    padding: 20px;
    border-radius: 8px; /* Optional: rounded corners */
}

.med-column h2 {
    margin-top: 0;
    text-align: left;
    font-size: 30px; /* Adjust font size for h2 */
}

.med-column span {
    font-size: 21px; /* Adjust font size for span */
    line-height: 1.6;
}

.med-column ul {
    list-style-type: disc;
    margin-top: 10px;
}

.med-column ul li {
    font-size: 18px; /* Default font size */
}

.med-column-image {
    width: 100%; /* Make the image responsive */
    height: 60vh; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add space below image */
}

.med-column h4 {
    text-align: left; /* Align paragraph text */
    line-height: 1.6; /* Improve readability */
    font-weight: 20px;
}

.med-column ul {
    list-style-type: disc; /* or circle, square, etc. */
    margin-left: 20px; /* Indentation */
}

.med-con-div {
    max-width: 70%;
    max-height: 30%;
    margin: 0px auto;
}

@media (max-width: 1270px) {

    .med-row {
        max-width: 90%; /* Increase max-width for smaller screens */
    }

    .med-con-div {
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .med-hero-image h1 {
        font-size: 40px; /* Responsive font size */
    }
    .med-column h2 {
        font-size: 20px; /* Responsive font size for h2 */
    }
    .med-column span {
        font-size: 16px; /* Responsive font size for span */
    }
    .med-column ul li {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
    .med-row {
        max-width: 90%; /* Increase max-width for smaller screens */
    }
    .med-con-div {
        max-width: 90%; /* Increase max-width for smaller screens */
    }
}
